<!-- TIMELINE -->
<div class='arlo_tm_section' id='experience' style='padding-top: 8em;'>
    <div class='arlo_tm_timeline'>
        <div class='container'>
            <div class='arlo_title_holder'>
                <span>Working Process</span>
                <h3>Experience</h3>

                {{!-- Experience type filter --}}
                <label>Filter:</label>
                <form action='/edit' method='get' class='sec_select' id='sec_select'>
                    <select id='experience_section' name='section'>
                        <option selected='selected'>{{filterSelected}}</option>
                        <option value='all'>All</option>
                        <option value='Developer'>Developer</option>
                        <option value='Hotelier'>Hotelier</option>
                        <option value='Martial Artist'>Martial Artist</option>
                    </select>
                </form>

                {{!-- Selection Script --}}
                <script nonce='{{cspNonce}}'>
                    document.addEventListener('DOMContentLoaded', function () {
                        document.getElementById('experience_section')
                            .addEventListener('change', function () {
                                document.getElementById('sec_select').submit();
                            });
                    });
                </script>
            </div>

            {{!-- Exp Panel --}}
            <div class='timeline_inner'>

                {{!-- Left --}}
                <div class='left'>
                    <ul>
                        {{#each experienceLeft}}
                        <li>

                            <div class='inner'>
                                <img class='svg' src='{{typeImageUrl}}' />
                                <p class='year'>
                                    {{this.year}} @
                                    <a class='{{this.hrefClass}}' href='{{this.link}}'
                                        style='color:white; padding-right:0.5em'>
                                        {{this.location}}
                                    </a>

                                    {{!-- Edit button --}}
                                    <a href='/edit/{{this._id}}'>Edit</a>

                                    {{!-- Delete button --}}
                                    <a href='#' onclick='delFunc();'>Delete</a>


                                    {{!-- Delete form --}}
                                <form id='{{this._id}}' style='display: none' method='POST'
                                    action='/edit/{{this._id}}?_=delete'>
                                </form>

                                {{!-- Delete confirmation --}}
                                <script nonce='{{../cspNonce}}'>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        document.getElementById('{{this._id}}')
                                            .addEventListener('click', function () {
                                                const result = confirm('You sure?');
                                                if (result == true) {
                                                    document.getElementById('{{this._id}}_form').submit();
                                                }
                                            });
                                    });
                                </script>

                                </p>
                                <h3 class='title'>{{this.position}}</h3>
                                <p class='text'>{{this.description}}</p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                {{!-- Right --}}
                <div class='right'>
                    <ul>
                        {{#each experienceRight}}
                        <li>
                            <div class='inner'>

                                <img class='svg' src='{{typeImageUrl}}' />

                                <p class=' year'>{{this.year}} @
                                    <a class='{{this.hrefClass}}' href='{{this.link}}'
                                        style='color:white;padding-right:1em'>
                                        {{this.location}}
                                    </a>

                                    {{!-- Edit button --}}
                                    <a href='/edit/{{this._id}}'>Edit</a>

                                    {{!-- Delete button --}}
                                    <a id='{{this._id}}' href='#'>Delete</a>

                                    {{!-- Delete form --}}
                                <form id='{{this._id}}_form' style='display: none' method='POST'
                                    action='/delete/{{this._id}}?_=delete'>
                                </form>

                                {{!-- Delete confirmation --}}
                                <script nonce='{{../cspNonce}}'>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        document.getElementById('{{this._id}}')
                                            .addEventListener('click', function () {
                                                const result = confirm('You sure?');
                                                if (result == true) {
                                                    document.getElementById('{{this._id}}_form').submit();
                                                }
                                            });
                                    });
                                </script>

                                </p>

                                <h3 class=' title'>{{this.position}}</h3>
                                <p class='text'>{{this.description}}</p>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>