<!-- CONTACT -->
<div class="arlo_tm_section" id="contact">
    <div class="arlo_tm_contact">
        <div class="container">
            <div class="arlo_title_holder">
                <span>Edit</span>
                <h3>Your Thoughts</hh3>
            </div>
            <div class="contact_inner">
                <div class="fields">

                    {{!-- Form --}}
                    <form action="/edit/{{experience._id}}?_=put" method="post" class="contact_form" id="contact_form">

                        <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                        <div class="first">

                            <ul>

                                <li>
                                    <label for="year">Year:</label>
                                    <textarea id="year" name="year" class="editText">{{experience.year}}</textarea>
                                </li>
                                <li>
                                    <label for="location">Location:</label>
                                    <textarea id="location" name="location"
                                        class="editText">{{experience.location}}</textarea>
                                </li>
                                <li>
                                    <label for="position">Position:</label>
                                    <textarea id="position" name="position"
                                        class="editText">{{experience.position}}</textarea>
                                </li>

                                <li>
                                    <label for="link">Link:</label>
                                    <textarea id="link" name="link" class="editText">{{experience.link}}</textarea>
                                </li>

                                <li>
                                    <label class="selection" for="experience_type">Experience Type: </label>
                                    <select id="experience_type" name="type">
                                        <option selected="selected">{{experience.type}}</option>
                                        <option value="study">Study</option>
                                        <option value="work">Work</option>
                                    </select>
                                </li>
                                <li>
                                    <label class="selection" for="portfolio_section">Portfolio Section: </label>
                                    <select id="portfolio_section" name="section">
                                        <option selected="selected">{{experience.section}}</option>
                                        <option value="hotelier">Hotelier</option>
                                        <option value="developer">Developer</option>
                                        <option value="martial_artist">Martial Artist</option>
                                    </select>
                                </li>

                            </ul>
                        </div>
                        <div class="last">
                            <label for="description">Description:</label>
                            <textarea id="description" name="description">{{experience.description}}</textarea>
                        </div>


                        <div class="arlo_tm_button">
                            <a id="send_message" href="javascript:{}">Done</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script nonce='{{cspNonce}}' src="/js/forms.js"></script>
<style>
    .editText {
        background-color: #6f6f6f;
    }

    .selection {
        font-family: 'Times New Roman';
        font-size: 2em;
    }
</style>